<div class="wrapper">
    <div class="sub-wrapper">
        <div class="row">
            <div class="col">
                <a href="">Free Delivery</a> |
                <a href="">Return Policy</a>
            </div>
            <div class="col to-right">
                <div>
                    <a href="" class="ml-auto">Login</a>
                    <a href="">Follow Us</a>
                    <a href=""><img src="/assets/fb.png" class="social-icon" /></a>
                    <a href=""><img src="/assets/ln.png" class="social-icon" /></a>
                    <a href=""><img src="/assets/tw.png" class="social-icon" /></a>
                    <a href=""><img src="/assets/in.png" class="social-icon" /></a>
                </div>
            </div>
        </div>
    </div>
</div>