<div class="wrapper">
    <div class="sub-wrapper">
        <div class="row">
            <div class="col-4 p-3">
                <h3>Newsletter</h3>
                <p>Get news about articles and updates<br>in your inbox.</p>
            </div>
            <div class="col-8 p-3">
                <input type="text" [(ngModel)]="contact.name" placeholder="NAME" />
                <input type="text" [(ngModel)]="contact.email" placeholder="EMAIL" />
                <input type="text" [(ngModel)]="contact.message" placeholder="MESSAGE" />
            </div>
        </div>
        <div>
            <button type="button" class="round-btn" (click)="onSubmit()">SEND</button>
            <h1>GET<br>IN TOUCH</h1>
        </div>
    </div>
</div>